{% extends "base.html" %}
{% block content %}

<h3 class="center-align">All task</h3>

<ul class="collapsible">
  {% for task in tasks %}
  <li>
    <div class="collapsible-header #607d8b blue-grey white-text">
      <div class="col s3">
        <i class="fas fa-caret-down #607d8b blue-grey"></i>
        <!-- DONE & EDIT BUTTONS -->
        <a href="" class="btn-small green">Done</a>
        <a href="{{ url_for('edit_task', task_id=task._id) }}" class="btn-small light-blue">Edit</a>
      </div>
      <div class="col s9">
        <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
        {% if task.is_urgent == "on" %}
        <i class="fas fa-exclamation-circle tooltipped" data-position="bottom" data-tooltip="Urgent"></i>
        {% endif %}
      </div>
    </div>
    <div class="collapsible-body">
      <strong>{{ task.category_name }}</strong>
      <p>{{ task.task_description }}</p>
      <p><em>Task created by: {{ task.created_by|capitalize }}</em></p>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}